.superior{
    padding-inline: 1.5rem;
    padding-block: 2rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #fff;
}

.sfirst{
    font-weight: 700;
    line-height: 1.25rem;
    color: var(--Bright-Yellow);
    margin-bottom: 1rem;
}

.slast{
    line-height: 1.625rem;
    color: var(--Grayish-Blue);
    font-size: 0.875rem;
}

.esquerda{
    background-color: var(--Cyan);
    padding: 1.5rem;
}

.esquerda p{
    display: inline;
}

.efirst{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.375rem;
}

.elast{
    color: rgba(255, 255, 255, 0.5);
}

.ediv{
    margin-bottom: 0.25rem;
}

.direita{
    background-color: var(--Light-Cyan);
    padding: 1.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.direita p {
    line-height: 1.25rem;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.75);
}