@media (min-width:650px){
    .inferior{
        display: flex;
    }

    .direita,
    .esquerda{
        width: 100%;
        padding: 2.5rem;
    }

    .esquerda{
        border-bottom-left-radius: 8px;
    }

    .ep{
        font-size: 0.86rem;
    }

    .direita{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 8px;
    }

    main{
        max-width: 40rem;
        padding: none;
    }

    body{
        display: flex;
        min-width: 100%;
        justify-content: center;
        align-items: center;
    }

    h1{
        font-size: 1.5rem;
    }

    .sfirst{
        font-size: 1.125rem;
    }

    .slast{
        font-size: 1rem;
    }
}